%h1=h resource.name

- show_for resource do |r|
  = r.attribute :name
  = r.attribute :iso_code
  = r.attribute :symbol

%ul
  %li= link_to 'edit details', edit_resource_path
  %li= link_to 'all currencies', collection_path
  %li= link_to 'delete', resource_path, :method => :delete
