- content_tag :tr, payment do
  %td=h payment.transaction_code || "None yet"
  %td= link_to h(payment.description), payment
  %td=h payment.created_at.to_s(:long)
  %td=h formatted_amount(payment)
  %td
    - if payment.complete?
      - if payment.paid?
        Complete, authorisation code #{payment.sage_pay_transaction.authorisation_code}.
        = link_to 'Refund', refund_payment_path(payment), :method => :put
      - elsif payment.authenticated?
        Authenticated. #{link_to "Repeat transaction", repeat_payment_path(resource)}
      - elsif payment.deferred?
        Deferred, authorisation code #{payment.sage_pay_transaction.authorisation_code}
        = link_to 'Release', release_payment_path(payment), :method => :put
        or
        = link_to 'abort', abort_payment_path(payment), :method => :put
        payment.
      - else
        Failed!
    - elsif payment.in_progress?
      In progress
    - else
      = link_to 'Make payment', payment_sage_pay_transaction_path(payment), :method => :post
