%h1=h resource.description

- show_for resource do |r|
  = r.attribute :description
  - r.attribute :amount do
    = formatted_amount(resource)
  = r.attribute :created_at, :format => :long
  = r.attribute :updated_at, :format => :long

  - content_for(:sidebar) do
    - r.association :billing_address do
      = formatted_address(resource.billing_address)

    - r.association :delivery_address do
      - if resource.delivery_address.present?
        = formatted_address(resource.delivery_address)
      - else
        %p Same as the billing address

  %h2 Transaction details

  = render :partial => resource.sage_pay_transactions, :layout => 'sage_pay_transactions/table'

%ul
  - if resource.in_progress?
    %li Payment in progress...
  - elsif resource.complete?
    %li Payment completed.
    - if resource.paid?
      Full payment made.
      = link_to 'Refund', refund_payment_path(resource), :method => :put
    - elsif resource.deferred?
      Payment deferred. #{link_to 'Release', release_payment_path(resource), :method => :put} or #{link_to 'abort', abort_payment_path(resource), :method => :put} payment.
    - elsif resource.released?
      Deferred payment has been released. Full payment made.
      = link_to 'Refund', refund_payment_path(resource), :method => :put
    - elsif resource.authorised?
      Card authorised.
      = link_to "Repeat transaction", repeat_payment_path(resource), :method => :put
      or
      = link_to "cancel authorisation", cancel_payment_path(resource), :method => :put
    - elsif resource.authenticated?
      Card authenticated.
      = link_to "Authorise", authorise_payment_path(resource), :method => :put
      or
      = link_to "cancel", cancel_payment_path(resource), :method => :put
      card.
    - elsif resource.cancelled?
      Authorisation cancelled.
    - elsif resource.failed?
      Payment failed.
  - else
    %li= link_to 'Make payment now', payment_sage_pay_transaction_path(resource, :tx_type => "payment"), :method => :post
    %li= link_to 'Defer payment', payment_sage_pay_transaction_path(resource, :tx_type => "deferred"), :method => :post
    %li= link_to 'Authorise future payments', payment_sage_pay_transaction_path(resource, :tx_type => "authenticate"), :method => :post
    %li= link_to 'edit details', edit_resource_path
  %li= link_to 'all payments', collection_path
  %li= link_to 'delete', resource_path, :method => :delete
