%h1=h resource.description

- show_for resource do |r|
  = r.attribute :description
  - r.attribute :amount do
    = formatted_amount(resource)
  = r.attribute :created_at, :format => :long
  = r.attribute :updated_at, :format => :long

  - r.association :billing_address do
    = formatted_address(resource.billing_address)

  - r.association :delivery_address do
    - if resource.delivery_address.present?
      = formatted_address(resource.delivery_address)
    - else
      %p Same as the billing address

%ul
  %li= link_to 'Make payment', payment_sage_pay_transaction_path(resource), :method => :post
  %li= link_to 'edit details', edit_resource_path
  %li= link_to 'all payments', collection_path
  %li= link_to 'delete', resource_path, :method => :delete
