%h1=h resource.description

- show_for resource do |r|
  = r.attribute :description
  - r.attribute :amount do
    = formatted_amount(resource)
  = r.attribute :created_at, :format => :long
  = r.attribute :updated_at, :format => :long

  - r.association :billing_address do
    = formatted_address(resource.billing_address)

  - r.association :delivery_address do
    - if resource.delivery_address.present?
      = formatted_address(resource.delivery_address)
    - else
      %p Same as the billing address

- content_for(:sidebar) do
  - if resource.sage_pay_transaction.present?

    %h2 Transaction details

    - show_for resource.sage_pay_transaction do |s|
      = s.attribute :our_transaction_code
      = s.attribute :sage_transaction_code
      = s.attribute :status
      = s.attribute :transaction_type
      = s.attribute :authorisation_code
      = s.attribute :avs_cv2_matched?
      = s.attribute :address_matched?
      = s.attribute :post_code_matched?
      = s.attribute :cv2_matched?
      = s.attribute :gift_aid?
      = s.attribute :threed_secure_ok?
      = s.attribute :card_type
      = s.attribute :last_4_digits

%ul
  - if resource.in_progress?
    %li Payment in progress...
  - elsif resource.complete?
    %li Payment completed.
    - if resource.paid?
      Full payment made.
      = link_to 'Refund', refund_payment_path(resource), :method => :put
    - elsif resource.deferred?
      Payment deferred. #{link_to 'Release', release_payment_path(resource), :method => :put} or #{link_to 'abort', abort_payment_path(resource), :method => :put} payment.
    - elsif resource.released?
      Deferred payment has been released. Full payment made.
      = link_to 'Refund', refund_payment_path(resource), :method => :put
    - elsif resource.authenticated?
      Card authenticated.
      %ul
        %li= link_to "Re-authorise card", "#"
        %li= link_to "Repeat transaction", repeat_payment_path(resource)
    - elsif resource.failed?
      Payment failed.
  - else
    %li= link_to 'Make payment now', payment_sage_pay_transaction_path(resource, :tx_type => "payment"), :method => :post
    %li= link_to 'Defer payment', payment_sage_pay_transaction_path(resource, :tx_type => "deferred"), :method => :post
    %li= link_to 'Authorise future payments', payment_sage_pay_transaction_path(resource, :tx_type => "authenticate"), :method => :post
    %li= link_to 'edit details', edit_resource_path
  %li= link_to 'all payments', collection_path
  %li= link_to 'delete', resource_path, :method => :delete
