- content_tag :tr, sage_pay_transaction do
  %td= sage_pay_transaction.our_transaction_code
  %td= sage_pay_transaction.sage_transaction_code
  %td= sage_pay_transaction.status
  %td= sage_pay_transaction.transaction_type
  %td= sage_pay_transaction.authorisation_code
  %td= sage_pay_transaction.card_type
  %td= sage_pay_transaction.last_4_digits
