- content_tag :tr, sage_pay_transaction do
  = sage_pay_transaction.our_transaction_code
  = sage_pay_transaction.sage_transaction_code
  = sage_pay_transaction.status
  = sage_pay_transaction.transaction_type
  = sage_pay_transaction.authorisation_code
  = sage_pay_transaction.card_type
  = sage_pay_transaction.last_4_digits
